body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #faf5ff;
  color: #333;
}

h1,
h2,
h3 {
  color: #5c3a5c;
}

#contacto {
  background-color: #fff1f2;
  padding: 2rem 1rem;
  text-align: center;
}
